/* HEADER letretro grande de titulo pokemon */
.Pokemon 
{
    height: 180px ;
    width: auto ;
}
.contenedor{
    display: flex;
    justify-content: center;
}
/*
.navHeader
{
    background-color: black;
}
*/
/*
.navText{
    color: white;
}
*/





























/* Body */

.backgroundIndex
{
    background-color: lightsteelblue;
}


/* contenedor de los 3 pokemones */
.flexPadre
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

/* charmeleon */
.charmeleon 
{
    height: 300px;
    width: auto;
}

.fondoCharmender {
    background-color: red;
}

.contenedorimagenCharmender
{
    display: flex;
    justify-content: center;
}

/*  squirtle */
.squirtle{
    height: 300px;
    width: auto;
}

.fondoSquirtle
{
    background-color: lightskyblue;
}

.contenedorimagenSquirtle
{
    display: flex;
    justify-content: center;
}


/* bulbasour */
.bulbasour{
    height: 300px;
    width: auto;
}

.fondoBulbasour{
    background-color:springgreen;
}

.contenedorimagenBulbasour
{
    display: flex;
    justify-content: center;
}
/* FOOTER */

.color{
    background-color: black;
  }

.link{
    color: white;
}